In [ ]:
import numpy as np
import pandas as pd
from pytz import all_timezones

In [ ]:
# Converting Strings to date
date_strings = np.array(['03-04-2005 11:35 PM', '23-04-2015 12:35 PM',])
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='coerce') for date in date_strings]

In [ ]:
all_timezones[590:]

In [ ]:
# Handling Time Zones
pd.Timestamp('2017-05-01 06:00:00', tz='Europe/London')
date = pd.Timestamp('2017-05-01 06:00:00')
date_in_london = date.tz_localize('Europe/London')
date_in_london.tz_convert('Africa/Abidjan')
dates = pd.Series(pd.date_range('2/2/2002', periods=3, freq='M'))
dates.tz_localize('Africa/Abidjan')

In [22]:
df = pd.DataFrame()
df['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')
df[
    (df['date'] > '2002-1-1 01:00:00') & (df['date'] <= '2002-1-1 04:00:00')
]
df.set_index(df['date'])
# df.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

/tmp/ipykernel_11428/1827154187.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')

                                   date
date
2001-01-01 00:00:00 2001-01-01 00:00:00
2001-01-01 01:00:00 2001-01-01 01:00:00
2001-01-01 02:00:00 2001-01-01 02:00:00
2001-01-01 03:00:00 2001-01-01 03:00:00
2001-01-01 04:00:00 2001-01-01 04:00:00
...                                 ...
2012-05-29 11:00:00 2012-05-29 11:00:00
2012-05-29 12:00:00 2012-05-29 12:00:00
2012-05-29 13:00:00 2012-05-29 13:00:00
2012-05-29 14:00:00 2012-05-29 14:00:00
2012-05-29 15:00:00 2012-05-29 15:00:00

[100000 rows x 1 columns]

In [23]:
# Breaking Up date into multiple features
dataframe = pd.DataFrame()
dataframe['date'] = pd.date_range('1/1/2001', periods=150, freq='W')
dataframe['year'] = dataframe['date'].dt.year
dataframe['month'] = dataframe['date'].dt.month
dataframe['day'] = dataframe['date'].dt.day
dataframe['hour'] = dataframe['date'].dt.hour
dataframe['minute'] = dataframe['date'].dt.minute
dataframe.head()

        date  year  month  day  hour  minute
0 2001-01-07  2001      1    7     0       0
1 2001-01-14  2001      1   14     0       0
2 2001-01-21  2001      1   21     0       0
3 2001-01-28  2001      1   28     0       0
4 2001-02-04  2001      2    4     0       0

In [28]:
# Calculating Difference between dates
datafrme = pd.DataFrame()
datafrme['Arrived'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-04-2017')]
datafrme['Left'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-06-2017')]
datafrme['Left'] - datafrme['Arrived']
pd.Series(delta.days for delta in (datafrme['Left'] - datafrme['Arrived']))

0    0
1    2
dtype: int64

In [30]:
# Encoding Days of the week
dates = pd.Series(pd.date_range("2/2/2002", periods=3, freq="M"))
dates.dt.day_name()
dates.dt.weekday

/tmp/ipykernel_11428/768661349.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.Series(pd.date_range("2/2/2002", periods=3, freq="M"))

0    3
1    6
2    1
dtype: int32

In [31]:
# Creating a lagged Feature
date_df = pd.DataFrame()
date_df['dates'] = pd.date_range('1/1/2001', periods=5, freq='D')
date_df["stock_price"] = [1.1,2.2,3.3,4.4,5.5]
date_df["previous_days_stock_price"] = date_df["stock_price"].shift(1)
date_df

       dates  stock_price  previous_days_stock_price
0 2001-01-01          1.1                        NaN
1 2001-01-02          2.2                        1.1
2 2001-01-03          3.3                        2.2
3 2001-01-04          4.4                        3.3
4 2001-01-05          5.5                        4.4

In [34]:
# Using Rolling Time Windows
d = pd.date_range("01/01/2010", periods=5, freq="M")
time_index = pd.DataFrame(index=d)
time_index['Stock Price'] = [1,2,3,4,5]
time_index.rolling(window=2).mean()

/tmp/ipykernel_11428/4042378733.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  d = pd.date_range("01/01/2010", periods=5, freq="M")

            Stock Price
2010-01-31          NaN
2010-02-28          1.5
2010-03-31          2.5
2010-04-30          3.5
2010-05-31          4.5

In [ ]:
# Handling Missing Data in Time Series
missing_df = pd.DataFrame(index=pd.date_range("01/01/2010", periods=5, freq="M"))
missing_df["Sales"] = [1.0,2.0,np.nan,np.nan,5.0]
missing_df
missing_df.interpolate(method='quadratic', limit=1, limit_direction='forward')
missing_df.ffill()
missing_df.bfill()

/tmp/ipykernel_11428/2876528257.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  missing_df = pd.DataFrame(index=pd.date_range("01/01/2010", periods=5, freq="M"))

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    5.0
2010-04-30    5.0
2010-05-31    5.0